body {
  background: #ebedee;
}
h1 {
  text-align: center;
  margin: 2em auto;
  color: rgb(167, 83, 245);
}
.signature {
  margin-top: 25px;
  font-size: 18px;
  font-weight: bold;
  color: rgb(167, 83, 245);
}
.hint-icon {
  color: rgb(167, 83, 245);
  font-size: 12px;
}
.hint {
  font-size: 10px;
}
.form-container {
  background-color: rgb(167, 83, 245, 0.2);
  padding: 35px 25px;
  border-radius: 10px;
}
p {
  margin: 15px 0 0 0;
  padding: 0;
}
.btn-custom {
  background-color: rgb(167, 83, 245);
  color: rgb(246, 241, 249);
}
.btn-custom:hover {
  color: rgb(246, 241, 249);
  background-color: rgb(151, 46, 249);
}
.poem {
  display: none;
  margin: 20px 0 0 0;
  padding: 5px;
  background-color: rgb(167, 83, 245, 0.2);
  border-left: thick solid rgb(167, 83, 245);
  border-radius: 0 10px 10px 0;
}
a {
  color: rgb(130, 3, 248);
}
footer {
  margin-top: 40px;
  text-align: center;
  font-size: 12px;
}
